html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
}

/*Añadir el :root para las variables con los colores y los tamaños de fuente*/
:root {
    --darker-blue: rgb(4 0 32);
    --dark-blue: rgb(11, 0, 95);
    --middle-blue: rgb(75, 112, 245);
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 12%, rgba(9,9,121,1) 100%, rgba(25,0,255,1) 100%);
}

header {
    padding: 10px;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

nav .logo {
    grid-column: 2;
    grid-row: 1;
}

nav .nav-links-container {
    grid-column: 1;
    grid-row: 1;
    cursor: pointer;
}

.nav-links-container .menu-icon {
    width: 35px;
    height: 2px;
    background-color: var(--middle-blue);
    margin: 6px 0;
}

nav .nav-links {
    display: none;
}

nav .search {
    grid-column: 3;
    grid-row: 1;
    border: none;
}

.logo img {
    width: 60px;
    border-radius: 50%;
}

/*Styles for main and sections inside main*/
/*MAIN SECTION*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.trending {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: white;
}

.trending h2 {
    font-size: 2rem;
}

.trending__movies {
    display: flex;
    gap: 10px;
    padding: 10px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.trending__movies .movies__movie-container {
    flex-shrink: 0;
    scroll-snap-align: center;
}

.trending__movies .container__poster {
    width: 100%;
    max-width: 300px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.container__poster .poster__image {
    width: 100%;
    border-radius: 10px;
    scroll-snap-align: center;
}

.movies__title {
    font-size: 2rem;
    text-align: center;
}

.movies__description {
    font-size: 1.6rem;
    overflow-x: scroll;
}

.movies__movie-container p {
    font-size: 1.6rem;
}

/*la descripcion de la pelicula debe tener overflow scroll horizontal, para que el texto no caiga hasta abajo y quite espacio*/

/*CATEGORIES SECTION*/

.categories {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.categories h2 {
    font-size: 2rem;
    color: white;
    text-align: center;
}

.categories__container {   
    display: flex;
    flex-direction: column;
    color: white;
}

.categories__image-container {
    width: 100%;
}

.categories__image-container img {
    width: 50vw;
    border-radius: 10px;
}