/*GENERIC PAGE STYLES, FOR CATEGORIES, TRENDS AND SEARCH PAGE*/
.generic-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    padding: 10px;
    color: white;
    gap: 20px;
}

.movies-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(90px, 150px));
    grid-auto-rows: auto;
    gap: 5px;
}

.title-container {
    width: 100%;
}

.title-page {
    font-size: 2rem;
    color: white;
    text-align: center;
}

.specific-movie-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.poster-container {
    width: 100vw;
    max-width: 140px;
    /* height: 100%; */
}

.movie-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/*MOVIE DETAILS PAGE*/
.movie-details {
    /* height: 100vh; */
    /* max-height: 360px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    margin-top: 30px;
    color: white;
}

.movie-details__poster-container {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    position: absolute;
    top: 0px;
    z-index: -1;
}

.movie-details__poster {
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.movie-details__info-container {
    max-height: 380px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px 0px 20px;
}

.movie-details__title {
    font-size: 2rem;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

.movie-details__overview, .movie-details__release-date, .movie-details__rating, .movie-details__genres, .movie-details__runtime {
    font-size: 1.4rem;
    text-shadow: 1px 1px 2px black;
    letter-spacing: 1px;
}

.movie-details__related-movies {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.related-movies__title {
    padding-left: 20px;
    font-size: 1.6rem;
}

.related-movies__movies-container {
    width: 100vw;
    display: flex;
    gap: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.header-shadow {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 50%, rgba(0, 0, 0, 0) 100%);
}

.dark-background {
    background-color: black;
}